.contactContainer{
    background-color: #02538a;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
}
.contactContainer:hover{
    background-color: #052c4c;
}

.containerTex{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.titleh3{
    color: #efefef;
    margin: 5px;
    font-size: 15px;
}

.titleh4{
    color: #efefef;
    margin: 5px;
    font-size: 15px;
}

.btnFavorite{
    background-color: transparent;
    border: none;
    justify-content: center;
    padding: 0;
}

.btnFavoriteRed{
    margin-right: 10px;
    color: red;
    font-size: 25px;
}
.btnFavoriteRed:hover{
    color: #b10303;
}
.btnFavoriteWhite{
    margin-right: 10px;
    color: #fff;
    font-size: 25px;
}
.btnFavoriteWhite:hover{
    color: #bdbdbd;
}

.btndeleteIcon{
    margin-right: 10px;
    color: #d70000;
    font-size: 35px;
}
.btndeleteIcon:hover{
    color: #ff9494;
    cursor: pointer;
}
.btndelete{
    background-color: transparent;
    border: none;
    padding: 0;
}

@media (max-width: 810px){
    .contactContainer {
        padding: 20px;
    }

    .containerTex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;
    }

    .btnFavorite,
    .btnFavoriteRed,
    .btnFavoriteWhite,
    .btndeleteIcon {
        margin-top: 5px;
        
    }

    .btnFavorite{
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (max-width: 412px){
    .contactContainer {
        padding: 20px;
    }

    .containerTex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;
    }

    .btnFavorite,
    .btnFavoriteRed,
    .btnFavoriteWhite,
    .btndeleteIcon {
        margin-top: 5px;
        
    }
}